<!DOCTYPE html>
<html>
<head>
    <title>База данных</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <header>
        <h1>База данных</h1>
        {% if request.endpoint != 'index' %}
        <nav>
            <a href="{{ url_for('index') }}">Главная</a>
            <button onclick="goBack()">Назад</button>
        </nav>
        {% endif %}
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>